<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button class="btn btn-link" routerLink="/">At Home</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.09.2020</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto eligendi impedit minus nam. Alias culpa deleniti, laborum maxime molestiae nesciunt numquam, obcaecati quidem quis quisquam, sequi similique soluta ullam? Alias autem deleniti itaque provident ratione reiciendis vitae. Dolor exercitationem iste magnam maiores necessitatibus nostrum odio reiciendis saepe sint temporibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto eligendi impedit minus nam. Alias culpa deleniti, laborum maxime molestiae nesciunt numquam, obcaecati quidem quis quisquam, sequi similique soluta ullam? Alias autem deleniti itaque provident ratione reiciendis vitae. Dolor exercitationem iste magnam maiores necessitatibus nostrum odio reiciendis saepe sint temporibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto eligendi impedit minus nam. Alias culpa deleniti, laborum maxime molestiae nesciunt numquam, obcaecati quidem quis quisquam, sequi similique soluta ullam? Alias autem deleniti itaque provident ratione reiciendis vitae. Dolor exercitationem iste magnam maiores necessitatibus nostrum odio reiciendis saepe sint temporibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto eligendi impedit minus nam. Alias culpa deleniti, laborum maxime molestiae nesciunt numquam, obcaecati quidem quis quisquam, sequi similique soluta ullam? Alias autem deleniti itaque provident ratione reiciendis vitae. Dolor exercitationem iste magnam maiores necessitatibus nostrum odio reiciendis saepe sint temporibus!</p>
  </div>
</div>
