<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Sign in panel admin</h2>
  <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
    {{error}}
  </div>
  <div class="alert alert-light" *ngIf="message">
    {{message}}
  </div>
<!--  Email-->
  <div class="form-control" [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <div class="validation" *ngIf="form.get('email').touched && form.get('email').invalid">
      <small *ngIf="form.get('email').errors.required">Field Email is required!</small>
      <small *ngIf="form.get('email').errors.email">Field Email is not email!</small>
    </div>
  </div>
<!--   Password-->
  <div class="form-control" [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">
    <div class="validation" *ngIf="form.get('password').touched && form.get('password').invalid">
      <small *ngIf="form.get('password').errors.required">Field Password is required!</small>
      <small *ngIf="form.get('password').errors.minlength">The password must be at least
        {{form.get('password').errors.minlength.requiredLength}}
        characters long. Now it is
        {{form.get('password').errors.minlength.actualLength}}
      </small>
    </div>
  </div>
<!--   Button submit-->
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid || submitted">Login</button>
</form>
